.topic{"ng-controller" => "TopicController as vm"}
  %h1
    %a{"ui-sref" => "game_maker.topic.quizzes({topicId: vm.topic.id})"}
      %img{:alt => "{{ vm.topic.title }}", :src => "{{ vm.topic.logo['url'] }}"}
      %span {{ vm.topic.title }}
  %p {{ vm.topic.description }}
  %button{"ng-click" => "vm.removeTopic()"} Delete
  %button{"ng-click" => "vm.showEditForm()"} Edit
  %form{"ng-hide" => "vm.editForm", "ng-submit" => "vm.updateTopic()"}
    %div
      %label{:for => "title"} Title
      %input#title{:name => "title", "ng-model" => "vm.topic.title", :required => "", :type => "text"}
    %br
    %div
      %label{:for => "description"} Description
      %textarea#description{:name => "description", "ng-model" => "vm.topic.description", :required => ""}
    %br
    %div
      %label{:for => "logo"} Logo
      %input#logo{:name => "logo", "ng-model" => "vm.topic.logo", "ngf-select" => "", :type => "file"}
    %br
    %div
      %button{:type => "submit"} Update
  %ui-view
