<div class="questions" ng-controller="QuestionsController as vm">
  <div class="question" ng-repeat="question in vm.questions" ng-init="choices = question.choices; index = $index + 1">

    <p ng-hide="editing" ng-dblclick="editing = true">{{ question.question }}</p>

    <form ng-submit="vm.editQuestion(question); editing = false">
      <input type="text" name="question" ng-model="question.question" ng-show="editing">
    </form>

    <button type="button" ng-click="vm.deleteQuestion(question)">Delete</button>

    <div ng-repeat="choice in choices">
      <input type="radio" name="question{{ index }}" id="question{{ index }}choice{{ $index }}" />
      <label for="question{{ index }}choice{{ $index }}">{{ choice.choice }}</label>
    </div>
  </div>

  <p><a ui-sref="topic.quiz.questions.new">Add a question</a></p>

  <ui-view></ui-view>
</div>