<div class="topics" ng-controller="TopicsController as vm">
  <div class="topic" ng-repeat="topic in vm.topics">
    <h1> 
      <a ui-sref="topic({topicId: topic.id})">
        <img src="{{ topic.logo['url'] }}" alt="{{ topic.title }}" /> <span>{{ topic.title }}</span>
      </a>
    </h1>
    <p>{{ topic.description }}</p>
  </div>

  <form ng-submit="vm.addTopic(topic)">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" ng-model="topic.title" required />
    </div>
    <br>  
    <div>
      <label for="description">Description</label>
      <textarea id="description" name="description" ng-model="topic.description" required></textarea>
    </div>
    <br>  
    <div>
      <label for="logo">Logo</label>
      <input type="file" name="logo" id="logo" ngf-select ng-model="topic.logo" />
    </div>
    <br>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
