<div class="topic" ng-controller="TopicController as vm">
  <h1> <img src="{{ vm.topic.logo }}" alt="{{ vm.topic.title }}" /> <span>{{ vm.topic.title }}</span></h1>
  <p>{{ vm.topic.description }}</p>
  
  <button ng-click="vm.removeTopic()">Delete</button>

  <button ng-click="vm.showEditForm()">Edit</button>

  <form ng-submit="vm.updateTopic()" ng-hide="vm.editForm">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" ng-model="vm.topic.title" required />
    </div>
    <br>  
    <div>
      <label for="description">Description</label>
      <textarea id="description" name="description" ng-model="vm.topic.description" required></textarea>
    </div>
    <br>  
    <div>
      <label for="logo">Logo</label>
      <input type="file" name="logo" id="logo" ng-model="vm.topic.logo" />
    </div>
    <br>
    <div>
      <button type="submit">Update</button>
    </div>
  </form>
</div>

<div class="quizzes" ng-controller="quizzesController as vm">
  <div class="quiz" ng-repeat="quiz in vm.quizzes">
    <a ui-sref="quiz({id: quiz.id, topic_id: quiz.topic_id})">

    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.passing_score }}</p>
  </div>


 <form ng-submit="vm.addQuiz()">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" ng-model="vm.quiz.title" required />
    </div>
    <br>  
    <div>
      <label for="passing_score">Passing Score</label>
      <input type="number" name="passing_score" ng-model="vm.quiz.passing_score" min="1" max="100">
    </div>  
    <br>
    <div>
      <button type="submit">Add Quiz</button>
    </div>
  </form>
</div>
