.quizzes{"ng-controller" => "quizzesController as vm"}
  .quiz{"ng-repeat" => "quiz in vm.quizzes"}
    %h1
      %a{:ui_sref => "user.topic.quiz({quizId: quiz.id, topicId: quiz.topic_id})"} {{ quiz.title }}
    %p {{ quiz.passing_score }}