.quiz-show{"ng-controller" => "quizController as vm"}
  .container
    %h1 {{ vm.quiz.title }}
    / %p {{ vm.quiz.passing_score }}
    .question{"ng-controller" => "QuestionsController as vm", "ng-init" => "i = 0"}
      %form{"ng-submit" => "vm.submitQuiz(); i = i + 1"}
        %p {{ vm.questions[i].question }}
        %div{"ng-repeat" => "choice in vm.questions[i].choices"}
          %input{:id => "question{{ i }}choice{{ $index }}", :name => "question{{ i }}", "ng-model" => "vm.questions[i].selectedChoice", "ng-value" => "choice.id", :required => "", :type => "radio"}
          %label{:for => "question{{ i }}choice{{ $index }}"} {{ choice.choice }}
        %p
          %button{"ng-hide" => "vm.questions.length <= i + 1", :type => "submit"} Next
          %button{"ng-show" => "vm.questions.length === i + 1", :type => "submit"} Submit
  %ui-view
