.container{"ng-controller" => "TopicsController as vm"}
  .row.topics
    .col-md-4.col-sm-6{"ng-repeat" => "topic in vm.topics"}
      %section.topic-widget
        .topic-logo>
          %a{"ui-sref" => "user.topic.quizzes({topicId: topic.id})"}
            %img{:alt => "", :src => "app/assets/images/ruby.png"}
            / %img{:alt => "{{ topic.title }}", :src => "{{ topic.logo }}"}
            %h1.topic-title {{ topic.title }} 

