<div class="quiz" ng-controller="quizController as vm">
  <h1> {{ vm.quiz.title }}</h1>
  <p>{{ vm.quiz.passing_score }}</p>
  <button type="button" ng-click="vm.delete()">Delete</button>

  <button ng-click="vm.showEditQuiz()">Edit</button>
	 <form ng-submit="vm.updateQuiz()" ng-hide="vm.editQuiz">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" ng-model="vm.quiz.title" required />
    </div>
    <br>  
    <div>
      <label for="passing_score">Passing Score</label>
      <input type="number" name="passing_score" ng-model="vm.quiz.passing_score" min="1" max="100">
    </div>
    <div>
      <button type="submit">Update</button>
    </div>
  </form>
</div>